.slider-arrows__left {
    position: absolute;
    top: -460px;
    right: 30%;
    cursor: pointer;
}

.slider-arrows__right {
    position: absolute;
    top: -309px;
    right: 30%;
    cursor: pointer;
}