@media(max-width:1366px) {
    .header__interface {
        display: block;
    }

    .section-review__carousel-img--small {
        display: none !important;
    }

    .header__interface--mobile {
        display: none;
    }

    .box {
        display: none;
    }
}

@media(max-width:1257px) {
    .footer-form__input {
        margin-bottom: 20px;
    }

}

@media(max-width:1150px) {
    .header__inner-img {
        display: none;
    }

    .header__nav {
        gap: 5rem;
    }

    .slider-arrows__left {
        right: 26%;
    }

    .slider-arrows__right {
        right: 26%;
    }

    .section-review__carousel-inner::after {
        display: none;
    }

    .section-review__carousel-inner::before {
        background-image: url('../images/png/reviev-item-right.png');
        content: '';
        width: 280px;
        height: 293px;
        position: absolute;
        right: -133px;
        background-repeat: no-repeat;
        top: -100px;
        z-index: 5;
    }

    .section-review__carousel-text {
        left: 123px;

    }

    .section-review__carousel-text::before {
        bottom: 383px;

    }


    .section-review__carousel-img {}

    .section-review__carousel-img {
        max-width: 100%;
        height: 100%;
    }

    .section-review__carousel-subtitle {
        max-width: 300px;
    }
}

@media(max-width:1080px) {

    .section-video::after,
    .section-video::before {
        display: none;
    }

    .section-video__inner {
        margin: 0 auto;
    }

    .section-video__wrapper {
        display: flex;
        flex-direction: column;
        align-self: start;
        order: 1;
    }

    .section-video__text {
        order: 1;
        margin-right: auto;
        margin-left: auto;
    }

    .section-video__text::before,
    .section-video__text::after {
        display: none;
    }

    .section-video img {
        padding-top: 0;
        padding-left: 0;
    }

    .section-video__inner::after {
        top: 49%;
    }

    .section-video__wrapper::before {
        display: none;
    }
}

@media(max-width:1000px) {

    .section-slider__item-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:995px) {

    .slider-arrows__right,
    .slider-arrows__left {
        display: none !important;
    }

    .section-slider__item--two,
    .section-slider__item--three {
        display: none;
    }

    .section-slider__inner {
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .section-slider__inner-card {
            display: flex !important;
            align-items: center;
            flex-direction: column;
        }

        .section-slider__subtitle--card {
            padding-left: 0;
        }
    }

    .section-slider__item-wrapper {
        display: none;
    }
}

@media(max-width:900px) {
    .header__interface a:nth-child(2) {
        padding: 0 35px 0 35px;
    }

    .footer-menu__list {
        padding-left: 10px;
    }

    .footer-bottom__logo {
        margin-left: 0;
    }

    .header__nav-list li:nth-child(2) {
        padding: 0 35px 0 35px;
    }

    .header__nav {
        gap: 1rem;
    }

    .footer-wrapper {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-menu {
        display: none;
    }

    .footer-menu__inner {
        display: flex;
    }

    .footer-menu__inner {
        display: block;
    }

    .footer-menu__item {
        background: red;
    }

    .footer-menu__item {
        position: relative;
    }

    .nav {
        display: none;
    }

    .nav {
        &.active {
            display: block;
            text-decoration: underline;
        }
    }

    .nav__bottom {
        display: none;
    }

    .nav__bottom {
        &.active {
            display: block;
            text-decoration: underline;
        }
    }

    .footer-nav__wrapper {
        display: block !important;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        margin-left: auto;

        li {
            padding-bottom: 15px;
            margin-left: -30px;
        }
    }

    .footer-nav__logo {
        display: block !important;
        margin: 25px 0 50px 0;
    }

    .nav-toggle {
        text-transform: uppercase;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .nav-toggle__bottom {
        text-transform: uppercase;
    }

    .footer-form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .footer-copyright__phone {
        margin-left: auto;
        margin-right: auto;
        color: black;
        font-size: 30px;
        padding-left: 91px;
    }

    .footer-copyright__email {
        margin-bottom: 20px;
        padding-left: 47px;

    }

    .footer-copyright__item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-right: 103px;

    }

    .footer-bottom__logo {
        display: none;
    }

    .footer-copyright {
        display: block !important;
        margin-left: auto;
        margin-right: auto;

    }

    .footer-menu__wrapper {
        display: flex;
        flex-direction: column;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;
        text-align: center;
    }
}

@media(max-width:800px) {
    .section-review__carousel-img {
        display: none !important;
    }

    .section-review__carousel-inner::before {
        display: none;
    }

    .section-review__carousel-img--small {
        display: flex !important;
        margin: auto;
    }

    .section-review__carousel {
        display: flex;
        flex-direction: column;
    }

    .section-review__carousel-subtitle {
        max-width: 250px;
    }

    .section-review__carousel-text::before {
        bottom: 418px;
        right: 73px;
    }

    .section-review__carousel-text {
        left: 22%;
        top: 10%;
    }

}

@media(max-width:768px) {
    .header__interface--mobile {
        display: block !important;
        z-index: 100;
    }

    .box {
        display: block;
    }

    .header__interface {
        display: none;
    }

    .header-logo {
        margin-right: auto;
    }

    .header__nav {
        &-list {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(32.62deg, #AD3339 0%, #FC323C 100%), #D6F4FD;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transform: translateY(-120%);
            transition: transform .5s;
            height: 100vh;
            margin-top: 0;

            &.active {
                transform: translateY(0);
            }
        }

        &-link {
            font-size: 34px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    .header__button {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__inner-title {
        margin-left: 10px;

        h1 {
            font-size: 24px;
            line-height: 32px;
            width: 290px;
        }
    }
}

@media(max-width:650px) {

    .section-video__title,
    .section-video__subtitle {
        min-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:375px) {
    .header__button {
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width:320px) {
    .header__button {
        width: 200px;
    }

    .box {
        top: 65px;
        background: none;
        box-shadow: none;
    }
}